{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <!--<link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}">-->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
    
    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Register</h2>
                        <form method="POST" class="register-form" id="register-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for=""><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="username" id="username" placeholder="Username"required/>
                            </div>
                            <div class="form-group">
                                <label for=""><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="fname" id="fname" placeholder="First Name" required/>
                            </div>
                            <div class="form-group">
                                <label for=""><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="lname" id="lname" placeholder="Last Name" required/>
                            </div>
                            <div class="form-group">
                                <label for=""><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Email" required/>
                            </div>
                            <div class="form-group">
                                <input type="password" name="pass1" id="pass1" placeholder="Password" required/>
                                <a href="#" onclick="myFunction1()" style="text-decoration:none">Show Password</a>
                            </div>
                            <div class="form-group">
                                <input type="password" name="pass2" id="pass2" placeholder="Repeat your password" required/>
                                <a href="#" onclick="myFunction2()" style="text-decoration:none">Show Password</a>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                            </div>
                        </form>
                        {% if messages %}
                    <div class="error">
                    {% for message in messages %}
                    {% if message.tags == 'success' %}
                    <p style="color:green">{{ message }}</p>
                    {% elif message.tags == 'error' %}
                    <p style="color:red">{{ message }}</p>
                    {% else %}
                    <p>{{ message }}</p>
                    {% endif %}
                    {% endfor %}
                    </div>
                    {% endif %}
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static 'images/signup-image.jpg' %}" alt="sing up image"></figure>
                        <a href="/signin" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <script>
        function myFunction1() {
            var x = document.getElementById("pass1");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
        function myFunction2() {
            var x = document.getElementById("pass2");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>